// 텍스트 컬러
.kg-text-100 {
  color: #000000 !important;
}
.kg-text-95 {
  color: #090a0c !important;
}
.kg-text-90 {
  color: #121318 !important;
}
.kg-text-85 {
  color: #1b1d24 !important;
}
.kg-text-80 {
  color: #2d303b !important;
}
.kg-text-70 {
  color: #424754 !important;
}
.kg-text-60 {
  color: #575c6d !important;
}
.kg-text-50 {
  color: #6d7387 !important;
}
.kg-text-40 {
  color: #868c9d !important;
}
.kg-text-30 {
  color: #a1a5b5 !important;
}
.kg-text-20 {
  color: #bdc1cf !important;
}
.kg-text-15 {
  color: #d7dbe6 !important;
}
.kg-text-10 {
  color: #e6eaf3 !important;
}
.kg-text-5 {
  color: #f6f7ff !important;
}
.kg-text-0 {
  color: #ffffff !important;
}

// 백그라운드 컬러
.kg-bg-100 {
  background-color: #000000 !important;
}
.kg-bg-95 {
  background-color: #090a0c !important;
}
.kg-bg-90 {
  background-color: #121318 !important;
}
.kg-bg-85 {
  background-color: #1b1d24 !important;
}
.kg-bg-80 {
  background-color: #2d303b !important;
}
.kg-bg-70 {
  background-color: #424754 !important;
}
.kg-bg-60 {
  background-color: #575c6d !important;
}
.kg-bg-50 {
  background-color: #6d7387 !important;
}
.kg-bg-40 {
  background-color: #868c9d !important;
}
.kg-bg-30 {
  background-color: #a1a5b5 !important;
}
.kg-bg-20 {
  background-color: #bdc1cf !important;
}
.kg-bg-15 {
  background-color: #d7dbe6 !important;
}
.kg-bg-10 {
  background-color: #e6eaf3 !important;
}
.kg-bg-5 {
  background-color: #f6f7ff !important;
}
.kg-bg-0 {
  background-color: #ffffff !important;
}

// 시스템 컬러
.kg-line-bg-color {
  background-color: #d9ff67 !important;
}

.kg-text-required {
  color: #d9ff67 !important;
}
.kg-text-success {
  color: #12b76a !important;
}
.kg-bg-success {
  background-color: #12b76a !important;
}
.kg-text-error {
  color: #f04438 !important;
}
.kg-bg-error {
  background-color: #f04438 !important;
}
.kg-text-cancel {
  color: #f97066 !important;
}
.kg-bg-cancel {
  background-color: #f97066 !important;
}
.kg-text-warning {
  color: #fdb022 !important;
}
.kg-bg-warning {
  background-color: #fdb022 !important;
}
