.kg-fs-32 {
  font-size: 2rem !important; // 32px
}
.kg-fs-24 {
  font-size: 1.5rem !important; // 24px
}
.kg-fs-20 {
  font-size: 1.25rem !important; // 20px
}
.kg-fs-18 {
  font-size: 1.125rem !important; // 18px
}
.kg-fs-16 {
  font-size: 1rem !important; // 16px
}
.kg-fs-14 {
  font-size: 0.875rem !important; // 14px
}
.kg-fs-12 {
  font-size: 0.75rem !important; // 12px
}
.kg-fs-10 {
  font-size: 0.625rem !important; // 10px
}

.kg-fw-100 {
  font-weight: 100 !important;
}
.kg-fw-200 {
  font-weight: 200 !important;
}
.kg-fw-300 {
  font-weight: 300 !important;
}
.kg-fw-400 {
  font-weight: 400 !important;
}
.kg-fw-500 {
  font-weight: 500 !important;
}
.kg-fw-600 {
  font-weight: 600 !important;
}
.kg-fw-700 {
  font-weight: 700 !important;
}
.kg-fw-800 {
  font-weight: 800 !important;
}
.kg-fw-900 {
  font-weight: 900 !important;
}

.kg-lh-24 {
  line-height: 1.5rem !important;
}
