/* html 선택자 css 적용 */
/* 입력창의 자동 채워지는 배경 색상 변경 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
}
button:disabled,
input:disabled,
select:disabled,
.disabled {
  pointer-events: all !important;
  cursor: not-allowed !important;
}
p {
  margin: 0;
}
textarea {
  resize: none;
}
textarea::placeholder {
  font-size: 12px;
  color: #6d7387 !important;
}
input[type='checkbox'] {
  cursor: pointer;
}
textarea,
input {
  margin: 0;
  padding: 0;
  width: 100%;
}
input::placeholder {
  text-transform: none;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  // image-rendering: -moz-crisp-edges; /* Firefox */
  // image-rendering: -o-crisp-edges; /* Opera */
  // image-rendering: -webkit-optimize-contrast; /* Webkit 표준 X */
  // image-rendering: crisp-edges;
  // image-rendering: pixelated;

  // -moz-transform: translateZ(0); // firefox
  // -o-transform: translateZ(0); // opera
  // -webkit-transform: translateZ(0);
  // transform: translateZ(0);
  // -moz-backface-visibility: hidden; // firefox
  // -webkit-backface-visibility: hidden;
  // backface-visibility: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #73a91f;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* className 선택자 css 적용 */
.modal-backdrop {
  --bs-backdrop-opacity: 1;
  --bs-backdrop-bg: rgba(87, 92, 109, 0.6);
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-pre-wrap {
  white-space: pre-wrap !important;
}
.li-style-none {
  list-style-type: none !important;
}

.d-flex {
  @include kg-dsplay(flex);
}
.d-inline-flex {
  @include kg-dsplay(inline-flex);
}

.direction-row {
  @include kg-flex-direction(row);
}
.direction-column {
  @include kg-flex-direction(column);
}
.direction-row-reverse {
  @include kg-flex-direction(row-reverse);
}
.direction-column-reverse {
  @include kg-flex-direction(column-reverse);
}

.flex-wrap {
  @include kg-flex-wrap(wrap);
}
.flex-nowrap {
  @include kg-flex-wrap(nowrap);
}

.justify-content-center {
  @include kg-justify-content(center);
}
.justify-content-start {
  @include kg-justify-content(flex-start);
}
.justify-content-end {
  @include kg-justify-content(flex-end);
}
.justify-content-between {
  @include kg-justify-content(space-between);
}
.justify-content-evenly {
  @include kg-justify-content(space-evenly);
}

.align-items-center {
  @include kg-align-items(center);
}
.align-items-start {
  @include kg-align-items(flex-start);
}
.align-items-end {
  @include kg-align-items(flex-end);
}
.align-items-stretch {
  @include kg-align-items(stretch);
}
.align-items-baseline {
  @include kg-align-items(baseline);
}

.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}

$width_100: 100%;
$width_75: 75%;
$width_50: 50%;
$width_25: 25%;
.w-100 {
  width: $width_100;
}
.w-75 {
  width: $width_75;
}
.w-50 {
  width: $width_50;
}
.w-25 {
  width: $width_25;
}
/* ID 선택자 css 적용 */
